@tailwind base;
@tailwind components;
@tailwind utilities;

/**
198 95% 73% primary
*/
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 199 85% 83%;
    --primary-foreground: 195 98% 8%;

    --secondary: 347 92% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 259 71% 67%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Color vars not from shadcn-ui */
    --footer: 202 80% 23%; /* sky-950 */
    --footer-foreground: 0 100% 100%;

    /* Bump up the font size a little */
    font-size: 18px;
  }

  .dark {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 199 85% 83%;
    --primary-foreground: 195 98% 8%;

    --secondary: 347 92% 94%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 259 71% 67%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;

    /* Color vars not from shadcn-ui */
    --footer: 202 80% 23%; /* sky-950 */
    --footer-foreground: 0 100% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  /* Custom components *
  /* TODO: Figure out which layer to put this in */
  .headings {
    @apply font-semibold font-primary;
  }

  .headings:is(h1) {
    @apply text-2xl;
  }

  .headings:is(h2) {
    @apply text-xl;
  }

  .section-p {
    @apply px-6 py-8 lg:py-10;
  }
}
